#card
	address
		strong.name David Antonio Rojas Camaggi
		br
		br
		| Marcoleta 594, Depto. 9
		br
		| Santiago de Chile
		br
		| Tel: 
		a.tele(href="tel:56987322336") +56 (9) 873 22 336
		br
		| Email: 
		a(href="mailto:drojascamaggi@gmail.com") drojascamaggi@gmail.com
		br
		br
		p
			span Add me to your contacts using 
			a#qr(href="/images/mecard.png", target="_blank") this QR code
			span . 