#superbar.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a.btn.btn-navbar(
				data-toggle="collapse",
				data-target=".nav-collapse",
				style="z-index:1050; position:relative;")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="/")
				i.icon-user
				= title
			.nav-collapse
				ul.nav
					block navResume
						li
							a(href="/") Resume
					block navContact
						li
							a(href="/contact") Contact
					block navAbout
						li
							a(href="/about") About