ul#sidebar.nav.nav-pills.nav-stacked.scroll-to.affix
	block sidebar
		li
			a(href="#interests") Interests
		li
			a(href="#skills") Skills
		li
			a(href="#programming") Programming languages
		li
			a(href="#databases") Databases
		li
			a(href="#education") Education
		li
			a(href="#publications") Publications
		li
			a(href="#experience") Work experience
		li
			a(href="#languages") Human languages