extends layout

block navAbout
	li.active
		a(href="/about") About

block sidebar
	li
		a(href="#this") About this
	li
		a(href="#bio") Bio

block main

	section#this
		h3.page-header
			| About this

		p
			| Powered by:

		ul.nav.nav-list
			li
				strong
					a(href="http://nodejs.org", target="_blank") Node.js
					| / 
					small JavaScript evented IO
			li
				strong
					a(href="http://expressjs.org", target="_blank") Express.js
					| / 
					small Node.js framework
			li
				strong
					a(href="http://nodejitsu.com", target="_blank") Nodejitsu
					| / 
					small Node.js cloud services
			li
				strong
					a(href="http://sublimetext.com", target="_blank") Sublime Text 2
					| / 
					small Text editor
			li
				strong
					a(href="http://getbootstrap.com", target="_blank") Twitter Bootstrap
					| / 
					small Frontend framework
			li
				strong
					a(href="http://font-awesome.com", target="_blank") Font Awesome
					| /
					small The iconic font for
						| Twitter Bootstrap

	section#bio
		h3.page-header
			| Bio
		p
			| Since I was a Biology student at the University of Chile 
			| one of my primary interests is the programatic study of 
			| living sistems and systems theory.

		p
			| Computers and electronics where always around during my 
			| formation as a scientist and at some point I felt more 
			| interested about the devices and software used in the lab
			| than the organisms being studied.

