extends layout

block navAbout
	li.active
		a(href="#") About

block sidebar
	li
		a(href="#this") About this page
	li#to-me.hide.fade
		a(href="#me") About me

block main

	section#this
		h3.page-header About this page

		p Powered by:

		ul.nav.nav-list
			li
				strong
					a(href="http://nodejs.org", target="_blank") Node.js
					| / 
					small Server-side Javascript
			li
				strong
					a(href="http://expressjs.com/", target="_blank") Express.js
					| / 
					small Node.js framework
			li
				strong
					a(href="http://socket.io/", target="_blank") Socket.io
					| / 
					small WebSockets for Node.js
			li
				strong
					a(href="http://www.nodejitsu.com/", target="_blank") Nodejitsu
					| / 
					small Node.js hosting platform
			li
				strong
					a(href="http://sublimetext.com/", target="_blank") Sublime Text 2
					| / 
					small Text editor for code
			li
				strong
					a(href="http://jquery.com/", target="_blank") jQuery
					| / 
					small Feature-rich JavaScript library
			li
				strong
					a(href="http://getbootstrap.com/", target="_blank") Twitter Bootstrap
					| / 
					small Front-end framework
			li
				strong
					a(href="http://fortawesome.github.com/Font-Awesome/", target="_blank") Font Awesome
					| /
					small The iconic font for Twitter Bootstrap

	section#me.hide.fade
		h3.page-header About me
		p
			| When I was a Biology student at the University of Chile 
			| my favorite issue was the programatic study of living beings 
			| and systems theory.

		p
			| At some point I became more interested about the devices and 
			| software used in the research than the organisms being studied. 
			| Then I started to learn C++, Java and Python for scientific purposes.

		p
			| At some point of 2009 I wanted to have a personal web page and that 
			| is how I started to learn about web programming.

		p
			| Since I was confused about my vocation, I started to apply to 
			| non scientific jobs in order to explore more options and after 
			| a couple of years I found that programming was my niche.

		p
			| I still love biology, so maybe some day I'll do science again. 
			| If so, I just know it will be related to programming.

block append scripts
	script(src="/javascripts/easter-egg-me.js")
