extends layout

block navContact
	li.active
		a(href="/contact") Contact

block sidebar
	ul#sidebar.nav.nav-pills.nav-stacked.affix
		li
			a(href="/#interests") Interests
		li
			a(href="/#skills") Skills
		li
			a(href="/#programming") Programming languages
		li
			a(href="/#databases") Databases
		li
			a(href="/#education") Education
		li
			a(href="/#publications") Publications
		li
			a(href="/#experience") Work experience
		li
			a(href="/#languages") Human languages

block content
	section#contact
		h3.page-header
			span.section-title Contact
		p
			span If you want to send me a message pleaseuse this form or send me an email to 
			a(href="mailto:drojascamaggi@gmail.com") drojascamaggi@gmail.com
			span . By the way, you can add me to your contacts using 
			a#qr(href="/images/mecard.png", target="_blank") this QR code
			span . 
		.row-fluid
			#contactForm.span5
				form.form-horizontal.well
					fieldset
						legend Email me 
						.control-group
							label.control-label(for="email") Email
							.controls
								input#email.input-large(type="email", required)
						.control-group
							label.control-label(for="subject") Subject
							.controls
								input#subject.input-large(type="text", required)
						.control-group
							label.control-label(for="message") Message
							.controls
								textarea#message.input-large(rows="3", required)
						.form-actions
							button.btn.btn-success(type="submit") Send
							span &nbsp;&nbsp;
							button.btn(type="reset") Cancel
			.span7
				#map_canvas

block append scripts
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
	script(src="/javascripts/contactMap.js")
	script(src="/javascripts/contactForm.js")
	script(src="/javascripts/qrModal.js")