extends layout

block navContact
	li.active
		a(href="/contact") Contact

block sidebar
	li
		a(href="#form") Email
	li
		a(href="#data") Contact data
	li
		a(href="#location") Location

block main
	section#form
		h3.page-header
			span.section-title Email
		p
			span You can use the form below or send me an email to 
			a(href="mailto:drojascamaggi@gmail.com") drojascamaggi@gmail.com
			span .

		#contactForm
			form.form-horizontal
				fieldset
					legend Contact form
					.control-group
						label.control-label(for="email") Email
						.controls
							input#email.input-large(type="email", required)
					.control-group
						label.control-label(for="subject") Subject
						.controls
							input#subject.input-large(type="text", required)
					.control-group
						label.control-label(for="message") Message
						.controls
							textarea#message.input-large(rows="3", required)
					.form-actions
						button.btn.btn-success(type="submit") Send
						| &nbsp;&nbsp;
						button.btn(type="reset") Cancel
	section#data
		h3.page-header
			span.section-title Contact data
		address
			strong David Antonio Rojas Camaggi
			br
			| Marcoleta 594, Depto. 9
			br
			| Santiago de Chile
			br
			| Tel: 
			a.tele(href="tel:56987322336") +56 (9) 873 22 336
			br
			| Email: 
			a(href="mailto:drojascamaggi@gmail.com") drojascamaggi@gmail.com


		p
			span By the way, you can add me to your contacts using 
			a#qr(href="/images/mecard.png", target="_blank") this QR code
			span . 

	section#location
		h3.page-header
			span.section-title Location
		p This is where I live, downtown Santiago de Chile.
		#map_canvas

block append scripts
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
	script(src="/javascripts/contactMap.js")
	script(src="/javascripts/contactForm.js")
	script(src="/javascripts/qrModal.js")