extends layout

block navResume
	li.simple
		a(href="/") Resume
	li.dropdown
		a.dropdown-toggle(
			href='#',
			data-toggle='dropdown')
			| Resume 
			b.caret
		ul.dropdown-menu
			li
				a(href="/") From the top
			li.divider
			li
				a(href="/#interests") Interests
			li
				a(href="/#skills") Skills
			li
				a(href="/#programming") Programming languages
			li
				a(href="/#databases") Databases
			li
				a(href="/#education") Education
			li
				a(href="/#publications") Publications
			li
				a(href="/#experience") Work experience
			li
				a(href="/#languages") Human languages

block navContact
	li.active
		a(href="/contact") Contact

block content
	section#contact
		h3.page-header Contact me
		p
			span If you want to send me a message please 
			strike use this form or
			span  send me an email to 
			a(href="mailto:drojascamaggi@gmail.com") drojascamaggi@gmail.com
			span . Also, you can add me to your contacts using 
			a(href="/images/mecard.png", target="_blank") this QR code
			span . 
		.row-fluid
			#contactForm.span5
				form.form-horizontal.well
					fieldset
						legend Contact Form 
							small(style="color: grey;") coming soon...
						.control-group
							label.control-label(for="email") Email
							.controls
								input#email.input-large(type="email", required, disabled)
						.control-group
							label.control-label(for="message") Message
							.controls
								textarea#message.input-large(rows="3", required, disabled)
						.form-actions
							button.btn.btn-primary(type="submit", disabled) Send
							span &nbsp;&nbsp;
							button.btn(type="reset", disabled) Cancel
			.span7
				#map_canvas

block append scripts
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
	script(src="/javascripts/contactMap.js")