doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome-ie7.min.css')
	body
		include includes/navbar
		#wrapper
			#main.container
				#content
					block content
						.row
							.span3
								block sidebar
									include includes/sidebar
							.span9
								block main
		include includes/footer
		include includes/loading
		include includes/githubRibbon
		include includes/goTop
	block scripts
		script(src="/javascripts/jquery-1.9.0.min.js")
		script(src="/javascripts/jquery-ui-1.10.0.custom.min.js")
		script(src="/javascripts/loader.js")
		script(src="/javascripts/sectionIcons.js")
		script(src="/javascripts/scroll-to.js")
		script(src="/javascripts/go-top.js")
		script(src="/javascripts/sidebar.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/bootstrap-modalize.js")