doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/gradient.css')
	body
		include includes/superbar
		#wrapper
			#main.container
				#content
					block content
		include includes/footer
		include includes/loading
		include includes/githubRibbon
		include includes/goTop
	block scripts
		script(src="/javascripts/jquery-1.9.0.min.js")
		script(src="/javascripts/jquery-ui-1.10.0.custom.min.js")
		script(src="/javascripts/loader.js")
		script(src="/javascripts/go-top.js")
		script(src="/javascripts/bootstrap.min.js")