extends layout

block breadcrumb
	li.active
		span.divider /
		span Resume

block content

	section#interests
		h3.page-header Interests
		ul.nav.nav-list
			li Science
			li Web Programming (Backend and API development)
			li Scientific Instrumentation
			li General geekiness
			li Entrepreneurship
			li Autodidactism
			li Latin music
			li Media arts
			li Accordion
			li Football
			li Running

	section#skills
		h3.page-header Skills / Tools
		ul.nav.nav-list
			li Git
			li GNU/Linux command line
			li Amazon AWS (EC2, S3, ELB, ElastiCache)

	section#programming
		h3.page-header Programming languages / Frameworks
		ul.nav.nav-list
			li Node.js / Express / Restify
			li Python / Django
			li Ruby / RoR
			li javascript / JQuery
			li css / less / stylus / twitter-bootstrap

	section#databases
		h3.page-header Databases
		ul.nav.nav-list
			li SQL (MySQL, PostgreSQL)
			li NoSQL (MongoDB, Neo4j)

	section#education
		h3.page-header Education
		ul.nav.nav-list
			li
				strong
					a(href="http://www.uchile.cl", target="_blank") University de Chile
				small , Faculty of Science
				br
				em Bachelor of Science with mention in Biology
				br
				span 2009
			br
			li
				strong
					a(href="http://www.sistemascomplejos.cl", target="_blank") ISCV
				br
				span V Summer School on Complex Systems 
				br
				span 2007
			br
			li
				strong
					a(href="http://www.sistemascomplejos.cl", target="_blank") ISCV
				br
				span Workshop on Science &amp; Technology, Networks in Cognitive Systems / Trends and Challenge in Biomedicine: From Cerebral Process to Mathematical Tools Design
				br
				span 2006
			br
			li
				strong
					a(href="http://www.sistemascomplejos.cl", target="_blank") ISCV
				br
				span IV Summer School on Complex Systems
				br
				span 2006

			br
			li
				strong
					a(href="http://www.uchile.cl", target="_blank") University de Chile
				small , Faculty of Physical and Mathematical Sciences
				br
				span Summer School on Biotechnology
				br
				span 2003

	section#publications
		h3.page-header Publications
		ul.nav.nav-list
			li
				span Tomas Veloz, Bryan Reynaert, David Rojas and Peter Dittrich, "A decomposition theorem in chemical organizations", Advances in Artificial Life, ECAL 2011: Proceedings of the Eleventh European Conference on the Synthesis and Simulation of Living Systems, T. Lenaerts, M. Giacobini, H. Bersini, P. Bourgine, M. Dorigo and R. Doursat, eds. MIT Press, ISBN 978-0-262-29714-1, 2011, pag. 820. 
				span
					a(href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&tid=12760", target="_blank") Available online
				span . 
	
	section#experience
		h3.page-header Work experience
		ul.nav.nav-list
			li
				strong
					a(href="http://www.flipter.com", target="_blank") Flipter.com
				br
				span Co-Founder &amp; CTO / Lead Programmer
				br
				span 2012 to the date
			br
			li
				strong
					a(href="http://www.eolectrica.cl", target="_blank") Eolectrica Ltd.
				br
				span Project Manager
				br
				span 2010 - 2011
			br
			li
				strong
					a(href="http://www.ciencias.uchile.cl/ciencias/investigacion_innovacion.php", target="_blank") Technology Innovation Center
				span , University of Chile, Faculty of Science
				br
				span Associate Project Editor
				br
				span Second semester of 2009
			br
			li
				strong Independent consultant in Electronics
				br
				span Design, construction and programming of electronic devices for scientific and artistic purposes
				br
				span 2009 to the date

	section#languages
		h3.page-header Human languages
		ul.nav.nav-list
			li Spanish (native)
			li English (read/write: advanced, speak: intermediate)
