#contactForm
	.form-horizontal
		.control-label
			width 75px
		.controls
			margin-left 95px
		.form-actions
			padding 0 0 0 95px
	button
		padding 20px 30px

#chat
	#room
		border 1px solid lighten(greyColor, 75%)
		padding 20px
		position relative
		#join
			position absolute
			top 20px
			right 20px
			z-index 1

#map_canvas
	height 388px