#contactForm
	.form-horizontal
		.control-label
			width 75px
		.controls
			margin-left 95px
		.form-actions
			padding 0 0 0 95px
	button
		padding 20px 30px

#chat
	#server-status, #admin-status
		margin-right 10px
		&:after
			content " \f111"
			font-family FontAwesome
		&.on
			&:after
				color analogicColor
		&.off
			&:after
				color complementColor
			
	#room
		border 1px solid lighten(greyColor, 75%)
		padding 20px
		position relative
		#join
			margin 10px 0
		#messages
			.fake, .from
				width 75px
				font-weight bold

#map_canvas
	height 388px