@import "colors.styl"

#superbar
	.navbar-inner
		.brand
			i
				color lighten(baseColor, 50%)
				margin-right 5px
				width 16px
				height 20px
		ul.nav
			li.dropdown:hover > ul.dropdown-menu
				margin-top 0px
				display block