@media (max-width: 979px)

	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a
		color whitesmoke

	.navbar-inverse .nav-collapse .nav > li:hover
		background #f00

	#githubRibbon
		display none

	#go-top
		.text
			display none

	#menu
		.dropdown
			display none


@media (min-width: 979px)

	#content
		padding-top 60px

	#menu
		.simple
			display none
