@media (max-width: 979px)

	.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a
		color whitesmoke

	.navbar-inverse .nav-collapse .nav > li:hover
		background #f00

	#githubRibbon
		display none

	#go-top
		.text
			display none

	#menu
		.dropdown
			display none

	#content
		section
			&.active
				.page-header
					margin-left -10px
					i
						font-size 100px


@media (min-width: 979px)

	#content
		padding-top 60px
		section
			ul, p
				padding-right: 150px
			&.active
				.page-header
					margin-left -20px
					i
						font-size 120px

	#menu
		.simple
			display none
