@import "colors.styl"

@media (max-width: 979px)

	.navbar .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a
		color whitesmoke

	.navbar .nav-collapse .nav > li:hover a
		background complementColor

	#githubRibbon
		display none

	#go-top
		.text
			display none

	#menu
		.dropdown
			display none

	#content
		section
			.page-header
				i
					font-size 100px
			&.active
				.page-header
					margin-left -10px


@media (min-width: 979px)

	#content
		padding-top 60px
		section
			ul, p
				padding-right: 150px
			.page-header
				i
					font-size 120px
			&.active
				.page-header
					margin-left -20px
					

	#menu
		.simple
			display none
