@import "bootstrap.min.css";
@import "bootswatch.min.css";
@import "bootstrap-responsive.min.css";
@media (max-width: 979px) {
  #githubRibbon {
    display: none;
  }
  #go-top .text {
    display: none;
  }
  #content #sidebar {
    padding-top: 20px;
    position: static;
  }
  #content section {
    padding: 20px 0;
  }
  #content section.active .page-header i {
    right: 10px;
  }
}
@media (min-width: 979px) {
  #superbar .navbar-inner .brand,
  #superbar .navbar-inner .nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  #content {
    padding-top: 60px;
  }
  #content #sidebar {
    padding-top: 60px;
  }
  #content #sidebar li.active a {
    margin-left: -10px;
  }
  #content section {
    padding: 40px 0;
  }
  #content section ul,
  #content section p {
    padding-right: 150px;
  }
  #content section.active .page-header i {
    right: 40px;
  }
}
#superbar .navbar-inner .brand i {
  color: #73b8ff;
  margin-right: 5px;
  width: 16px;
  height: 20px;
}
#superbar .navbar-inner ul.nav li.dropdown:hover > ul.dropdown-menu {
  margin-top: 0px;
  display: block;
}
#sidebar li.active a,
#sidebar li:hover a {
  background-color: #73b8ff;
  color: #fff;
}
#contactForm .form-horizontal .control-label {
  width: 75px;
}
#contactForm .form-horizontal .controls {
  margin-left: 95px;
}
#contactForm .form-horizontal .form-actions {
  padding: 0 0 0 95px;
}
#contactForm button {
  padding: 20px 30px;
}
#chat #server-status,
#chat #admin-status {
  margin-right: 10px;
}
#chat #server-status:after,
#chat #admin-status:after {
  content: " \f111";
  font-family: FontAwesome;
}
#chat #server-status.on:after,
#chat #admin-status.on:after {
  color: #00e79b;
}
#chat #server-status.off:after,
#chat #admin-status.off:after {
  color: #f90;
}
#chat #room {
  border: 1px solid #dfdfdf;
  padding: 20px;
  position: relative;
}
#chat #room #join {
  margin: 10px 0;
}
#chat #room #messages .fake,
#chat #room #messages .from {
  width: 75px;
  font-weight: bold;
}
#map_canvas {
  height: 388px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 30px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  color: #aaa;
  line-height: 30px;
}
#wrapper {
  display: none;
}
#loading {
  position: absolute;
  display: none;
  font-size: 200%;
}
#loading .name {
  color: #00e79b;
}
#loading #path {
  color: #f90;
}
#loading #hash {
  color: #0072e6;
}
#go-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
}
#go-top a {
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
/* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#go-top a .arrow {
  width: 70px;
  height: 70px;
  display: block;
  margin-bottom: 7px;
  background: #ccc url("/images/up-arrow.png") no-repeat center center;
  background-size: 40%;
/* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
/* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#go-top a:hover {
  color: #000;
}
#go-top a:hover .arrow {
  background-color: #777;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-header {
  border-bottom-color: #d1d1d1;
}
.btn-primary {
  background-color: #0079f4;
}
.btn-primary:hover {
  background-color: #0072e6;
}
#content a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#content a:hover {
  text-decoration: none;
}
#content section .page-header {
  position: relative;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#content section .page-header i {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  position: absolute;
  color: #0072e6;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  right: -200px;
}
#content section ul,
#content section p,
#content section form {
  position: relative;
}
#content section.active .page-header {
  color: #00e79b;
}
#content section.active .page-header i {
  opacity: 0.2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
}
#content section.active .page-header:after {
  content: ' =>';
}
