@import "bootstrap.min.css"
// @import "bootswatch.min.css"
// @import "http://bootswatch.com/cerulean/bootstrap.min.css"
// @import "http://bootswatch.com/slate/bootstrap.min.css"
// @import "http://bootswatch.com/spacelab/bootstrap.min.css"
@import "bootstrap-responsive.min.css"
@import "responsive.styl"
@import "colors.styl"
@import "navbar.styl"
@import "contact.styl"
@import "footer.styl"
@import "loading.styl"
@import "go-top.styl"

@import "opacity.styl"


body
  	font-family "Lucida Grande", Helvetica, Arial, sans-serif

.page-header
	border-bottom-color lineColor

.btn-primary
	background-color lighten(baseColor, 5%)
	&:hover
		background-color baseColor

#content
	a
		-webkit-transition 0.5s
		-moz-transition 0.5s
		transition 0.5s
		&:hover
			text-decoration none
	section
		padding 40px 0
		.page-header
			position relative
			-webkit-transition 1s
			-moz-transition 1s
			transition 1s
			i
				-webkit-transition 1s
				-moz-transition 1s
				transition 1s
				position absolute
				color: baseColor
				opacity 0.1
		ul, p
			position relative
		&.active
			.page-header
				color analogicColor
				i
					opacity 0.3
				&:after
					content ' =>'
