@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
@import "bootswatch.css";
.navbar-inverse .navbar-inner {
  background-color: #0380ff;
}
#contactForm .form-horizontal .control-label {
  width: 75px;
}
#contactForm .form-horizontal .controls {
  margin-left: 95px;
}
#contactForm .form-horizontal .form-actions {
  padding-left: 95px;
}
#map_canvas {
  height: 381px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 30px;
}
#main {
  padding-bottom: 30px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  color: #aaa;
  line-height: 30px;
}
#wrapper {
  display: none;
}
#loading {
  position: absolute;
  display: none;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-header {
  border-bottom-color: #d1d1d1;
}
.btn-primary {
  background-color: #0079f4;
}
.btn-primary:hover {
  background-color: #0072e6;
}
#main #content {
  padding-top: 60px;
}
