@import "bootstrap.css";
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #0072e6;
}
.nav-list > li > a:hover {
  background-color: #73b8ff;
}
#sidebar .divider {
  background-color: #d1d1d1;
}
#contactForm .form-horizontal .control-label {
  width: 75px;
}
#contactForm .form-horizontal .controls {
  margin-left: 95px;
}
#contactForm .form-horizontal .form-actions {
  padding-left: 95px;
}
#map_canvas {
  height: 381px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 30px;
}
#main {
  padding-bottom: 30px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  color: #aaa;
  line-height: 30px;
}
#wrapper {
  display: none;
}
#loading {
  position: absolute;
  display: none;
}
body {
  padding-top: 20px;
  border-top: 5px solid #0072e6;
}
color baseColor,
.page-header {
  border-bottom-color: #d1d1d1;
}
.btn-primary {
  background-color: #0079f4;
}
.btn-primary:hover {
  background-color: #0072e6;
}
#main {
  border-left: 1px solid #d1d1d1;
  padding-left: 25px;
}
#main #header .breadcrumb {
  display: inline;
  background-color: transparent;
  font-size: 70%;
}
#main #header .breadcrumb li {
  opacity: 0.4;
}
#main #header .breadcrumb li:hover,
#main #header .breadcrumb li.active {
  opacity: 0.8;
}
