@import "bootstrap.css"
@import "colors.styl"
@import "sidebar.styl"
@import "contact.styl"
@import "footer.styl"
@import "loading.styl"


body
  	// font-family: "Lucida Grande", Helvetica, Arial, sans-serif
  	padding-top: 20px
  	border-top: 5px solid baseColor
	color baseColor

.page-header
	border-bottom-color lineColor

.btn-primary
	background-color lighten(baseColor, 5%)
	&:hover
		background-color baseColor

#main
	border-left	1px solid lineColor
	padding-left	25px
	// min-height 550px

	#header
		.breadcrumb
			display	inline
			background-color transparent
			font-size 70%
			li
				opacity 0.4
				&:hover, &.active
					opacity 0.8


